.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.youtube{
border:3px red dashed;
margin-top: 20px;
}

button{
  margin:10px;
  padding:10px 20px;
  font-size:20px;
  background-color: #e67e22;
}



body{
  background-color: #2980b9
}
